
::placeholder { color: #001EAF; }

input {
  color: #1CA5EA !important;
}

input:focus {
  border-bottom: 1px solid #1CA5EA !important;
  box-shadow: 0 1px 0 0 #1CA5EA !important;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-gap: 1vh; */
    grid-template-rows: repeat(5,20vh);
  }
  .menuside{
      grid-column: 1/4;
      grid-row: 1/6;
      background: rgb(28,165,234);
      background: linear-gradient(90deg, rgba(28,165,234,1) 0%, rgba(0,30,175,1) 100%);

      display: grid;

      padding: 10px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1vh;
      grid-template-rows: repeat(12,6vh);

  }
  .foto{
      grid-row: 1;
      background-color: seagreen;
      border-radius: 15vh;

      height: 10vh;
      padding: 2vh;
      margin-left: 38%;
      margin-top: 5%;
      min-width: 5vh;
      max-width:10vh;
   

border-color: seashell;
      border-width: 1vh;
  }
  .items1{
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .items2{
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items3{ grid-row: 4;
       display: flex;
      justify-content: center;
      align-items: center;
}
.items4{ grid-row: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items5{ grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items6{ grid-row: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items7{ grid-row: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items8{ grid-row: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items9{ grid-row: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items10{ grid-row: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items11{ grid-row: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves-effect.waves-light.btn-small{

  width: 100%;
  height: 8vh;
  font-size: 4vh;
  
  background: rgb(28,165,234);
  background: linear-gradient(90deg, rgba(28,165,234,1) 0%, rgba(0,30,175,1) 100%);
  text-align: center;


}

.waves-effect.waves-light.btn{

  background-color:  #001EAF  ;
}
  

span{
  color: #001EAF;
}



/* modal */
#mod {
   display: none;
 margin-top: 20%;
 margin-left: 40%;
  position: absolute;
  min-width: 10vh;
  min-height: 10vh;
  z-index: 4;
}

#efect {
  display: none;
  position: absolute;
  min-width: 20vh;
  z-index: 1;
  background: black;
  min-height: 20vh;
}