@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@200&display=swap');




.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . . . . . . . . ."
    ". . . imgsoftland imgsoftland imgsoftland imgsoftland imgsoftland . . ."
    ". . . imgsoftland imgsoftland imgsoftland imgsoftland imgsoftland . . ."
    ". . . . . . . . . . ."
    ". . . correo correo correo correo correo . . ."
    ". . . password password password password password . . ."
    ". . . . . . recordar . . . ."
    ". . . . iniciarbtn iniciarbtn iniciarbtn . . . ."
    ". . . . . . . . . . ."
    ". . . . cambio cambio cambio . . . ."
    ". . . . . . . . . . .";
}

::placeholder { color: #001EAF; }

input {
    color: #1CA5EA !important;
}

input:focus {
    border-bottom: 1px solid #1CA5EA !important;
    box-shadow: 0 1px 0 0 #1CA5EA !important;
}

/* label focus color */
input[type=email]:focus + label {
    color: #1CA5EA !important;
}
/* label underline focus color */
input[type=email]:focus {
    border-bottom: 1px solid #1CA5EA !important;
    box-shadow: 0 1px 0 0 #1CA5EA !important;
}
input[type=email] {
    border-bottom: 1px solid #1CA5EA !important;
    box-shadow: 0 1px 0 0 #1CA5EA !important;
}


/* label focus color */
input[type=password]:focus + label {
    color: #1CA5EA !important;
}
/* label underline focus color */
input[type=password]:focus {
    border-bottom: 1px solid #1CA5EA !important;
    box-shadow: 0 1px 0 0 #1CA5EA !important;
}
input[type=password] {
    border-bottom: 1px solid #1CA5EA !important;
    box-shadow: 0 1px 0 0 #1CA5EA !important;
}



span{
    color: #001EAF !important;
}

.waves-effect.waves-light.btn-small{
    
    width: 100%;
    height: 8vh;
    font-size: 4vh;
    
    background: rgb(28,165,234);
    background: linear-gradient(90deg, rgba(28,165,234,1) 0%, rgba(0,30,175,1) 100%);
    text-align: center;
    
    
}

.waves-effect.waves-light.btn{
    
    background-color:  #001EAF  ;
}


.correo { grid-area: correo; margin-left: 20vh;margin-right: 20vh;font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

.password { grid-area: password;margin-left: 20vh;margin-right: 20vh; font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

.recordar { grid-area: recordar;font-family: 'Source Sans Pro', sans-serif; font-weight: bolder;}

.iniciarbtn { grid-area: iniciarbtn; font-family:'Source Sans Pro', sans-serif;}

.iniciarbtn a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 2vh;
    border: solid 0.3vh #1CA5EA; */
}
.cambio { grid-area: cambio;
    
    font-family: 'Source Sans Pro', sans-serif;  }
    .cambio a{
        
        color: #1CA5EA !important;
        font-weight: bolder;
        font-size: large;
    }
    .imgsoftland { grid-area: imgsoftland; display: flex; justify-content: center; }



    /* modal */
#mod {
    display: none;
  margin-top: 13%;
  margin-left: 36%;
   position: absolute;
   min-width: 59vh;
   min-height: 59vh;
   z-index: 4;
 }
 
 #efect {
   display: none;
   position: absolute;
   min-width: 59vh;
   z-index: 1;
   min-height: 59vh;
 }
    
    
    
    